.app-container {
    display: flex;
    align-items: center;

    .app-header{
        flex: .2;
        justify-content: flex-start;
        min-height: 100vh;
    }

    .content{
        width: 100%;
        margin: 0 5rem;
    }
}
