.post {
    background: transparent;
    border: 0;
    display: flex;

    .post-content {
        width: 100%;

        padding: 2rem;
        margin-top: 3rem;
        border: 0;
        border-radius: 6px;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        background-color: var(--white);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: .8rem;

        cursor: pointer;

        img {
            width: 10%;
        }

        h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 2.4rem;
            font-weight: bold;

            -webkit-appearance: none;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1.6rem;
            font-weight: bold;
            -webkit-appearance: none;
        }

    }
}