<app-header></app-header>
<div>
    <form class='form-group'>
        <h1>Criar novo Post</h1>


        <div class="input-file">
            <img src="" alt="">
            <label for="file" id="label-picture">
                Selecione a foto do post
            </label>
            <input type='file' id='post-picture' />
        </div>
        
        <label for="title">
            Título do post
            <input type="text" id="title" />
        </label>

        <textarea name="" id="" cols="30" rows="10" placeholder="contéudo do post"></textarea>

        <button>Criar Post</button>
    </form>
</div>