.input-group {
    width: 30%;
    margin-bottom: 2rem;

    .title-wrapper{
        display: flex;
        align-items: center;
        gap: .5rem;
        img {
            width: 4rem;
        }
    }

    label {
        display: flex;

        text-align: left;
        margin-bottom: 5px;

        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;

        color: var(--white);
    
        -webkit-appearance: none;
    }

    input {
        margin-top: .5rem;

        padding: 1rem 10rem;
        margin:0 5px;

        border: none;
        border-radius: 6px;

        background-color: var(--purple-100);

        &::placeholder {
            color: black
        }
    }

}