.input-group {
    width: 30%;
    margin-bottom: 2rem;

    .title-wrapper{
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
            width: 4rem;
        }
    }

    label {
        display: flex;
        flex-direction: column;

        text-align: left;

        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;

        color: var(--white);
    
        -webkit-appearance: none;
    }

    input {
        margin-top: 1rem;

        padding: 1rem 2.5rem;

        border: 1px solid var(--purple-300);
        border-radius: 6px;

        background-color: var(--purple-100);

        &::placeholder {
            color: #3b23485b;
        }
    }

}